<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <title>My Team</title>
    <style>
        #main-header{
            background-color: crimson;
            color: #f6f6f6;
        }
    </style>
</head>
<body>
    <h1 class="text-center py-5 mb-4" id="main-header">My Team</h1>
    <div class="container">
        <div class="row d-flex justify-content-center"></div>
    </div>
</body>
</html>